@import './base.css';

a:hover {
    text-decoration: none;
}

/* 定义滚动条的宽度和高度 */
::-webkit-scrollbar {
    width: 8px;  /* 纵向滚动条的宽度 */
    height: 8px;  /* 纵向滚动条的宽度 */
}
 
/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 轨道颜色 */
    border-radius: 3px; /* 圆角 */
}
 
/* 定义滚动块的样式 */
::-webkit-scrollbar-thumb {
    background-color: #d2dae6; /* 滚动块颜色 */
    border-radius: 8px; /* 圆角 */
}
 
/* 定义滚动块悬浮时的样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: #afbaca; /* 悬浮时颜色 */
}


/* firefox */
/* 设置滚动条滑块和轨道的颜色 */
body {
    scrollbar-color: #d2dae6 #f1f1f1; /* 滑块颜色 轨道颜色 */
    scrollbar-width: thin; /* 滚动条宽度，可选值：auto、thin、none */



    font-size: 14px;
}


.ellipsis {
    /* 1 强制文本一行显示 */
    white-space: nowrap;
    /* 2 超出部分隐藏 */
    overflow: hidden;
    /* 3 文本超出用省略号代替 */
    text-overflow: ellipsis;
}

.ellipsis3 {
    overflow: hidden;
    text-overflow: ellipsis;
    /* 弹性伸缩盒模型 */
    display: -webkit-box;
    /* 限制在一个块元素的文本行数 */
    -webkit-line-clamp: 3;
    /* 设置或检索伸缩盒对象的子元素的排列方式 */
    -webkit-box-orient: vertical;
}